<!doctype html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'summary/style.css' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'summary/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'summary/favicon-16x16.png' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'summary/favicon.ico' %}" />
    <title>{{page_title}}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>