{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>

    <form action="{% url 'summary:edit' kpi_name %}" method="post">
        <table id="dashboard_table">
            <tr>
                <th>
                    <label>KPI Name</label>
                </th>
                <td>{{ kpi_name }}</td>
            </tr>
            <tr>
                <th>
                    <label for="id_username">API Username</label>
                </th>
                <td>
                    <input type="text" class="narrow-input" name="username" value="{{ current_username }}" id="id_username" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_secret">API Secret</label>
                </th>
                <td>
                    <input type="text" class="narrow-input" name="secret" value="{{ current_secret }}" id="id_secret" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_queue_url">Queue URL</label>
                </th>
                <td>
                    <input type="url" class="wide-input" name="queue_url" value="{{ current_queue_url }}" id="id_queue_url" maxlength="200" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_queue_body">Queue Body</label>
                </th>
                <td>
                    <textarea name="queue_body" id="id_queue_body" maxlength="2000" cols="100" rows="15" >{{ current_queue_body }}</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_get_url">Get URL</label>
                </th>
                <td>
                    <input type="url" class="wide-input" name="get_url" value="{{ current_get_url }}" id="id_get_url" maxlength="200" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_get_body">Get Body</label>
                </th>
                <td>
                    <textarea name="get_body" id="id_get_body" maxlength="2000" cols="100" rows="5" >{{ current_get_body }}</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_report_period_days">Report Period Days</label>
                </th>
                <td>
                    <input type="number" min="1" max="31" step="1" pattern="\d+" required class="narrow-input" name="report_period_days" value="{{ current_report_period_days }}" id="id_report_period_days" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_date_created">Date Created</label>
                </th>
                <td name="date_created" id="id_date_created">{{ current_date_created }}</td>
            </tr>
            <tr>
                <th>
                    <label for="id_date_modified">Date Modified</label>
                </th>
                <td name="date_modified" id="id_date_modified">{{ current_date_modified }}</td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td>
                    <input class="submit-button" type="submit" value="Submit Dashboard" />
                </td>
            </tr>
        </table>
    </form>

    <div class="row">
        <div class="column">
            <h4>Example Queue request</h4>

            <textarea readonly class="steps" cols="68" rows="15">

{
    "reportDescription":{
        "reportSuiteID":"my-brand-id",
        "dateFrom":"{DATE_FROM}",
        "dateTo":"{DATE_TO}",
        "dateGranularity":"day",
        "metrics":[
            {
                "id":"visits"
            }
        ]
    }
}
            </textarea>
        </div>

        <div class="column">
            <h4>Example Get request</h4>

            <textarea readonly class="steps" cols="68" rows="15">

{"reportID":{REPORT_ID}}
            </textarea>
        </div>
    </div>

{% endblock %}