{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>

    <form action="{% url 'summary:edit' kpi_name %}" method="post">
        <table id="dashboard_table">
            <tr>
                <th>
                    <label>KPI Name</label>
                </th>
                <td>{{ kpi_name }}</td>
            </tr>
            <tr>
                <th>
                    <label for="id_metric_id">Metric Id</label>
                </th>
                <td>
                    <input type="text" class="narrow-input" required name="metric_id" value="{{ current_metric_id }}" id="id_metric_id" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_metric_desc">Metric Description</label>
                </th>
                <td>
                    <input type="text" class="narrow-input" required name="metric_desc" value="{{ current_metric_desc }}" id="id_metric_desc" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_default_report_suite_id">Default Report Suite Id</label>
                </th>
                <td>
                    <input type="text" class="narrow-input" required name="default_report_suite_id" value="{{ current_default_report_suite_id }}" id="id_default_report_suite_id" maxlength="50" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_default_report_period_days">Default Report Period Days</label>
                </th>
                <td>
                    <input type="number" min="1" max="366" step="1" pattern="\d+" required class="narrow-input" name="default_report_period_days" value="{{ current_default_report_period_days }}" id="id_default_report_period_days" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_date_created">Date Created</label>
                </th>
                <td name="date_created" id="id_date_created">{{ current_date_created }}</td>
            </tr>
            <tr>
                <th>
                    <label for="id_date_modified">Date Modified</label>
                </th>
                <td name="date_modified" id="id_date_modified">{{ current_date_modified }}</td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td>
                    <input class="submit-button" type="submit" value="Submit Dashboard" />
                </td>
            </tr>
        </table>
    </form>

{% endblock %}