{% extends "public/base.html" %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'summary/Chart.bundle.js' %}"></script>

    <h2>{{ page_heading }}</h2>

<canvas id="myChart" width="1200" height="600"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{ graph_dates|safe }}],
        datasets: [{
            label: '{{ kpi_name }}',
            data: [{{ graph_values }}],
            backgroundColor: [
                'rgba(255,153,0,0.4)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }, 
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        responsive: false
    }
});
</script>

{% include "summary/debug.html" %}

{% endblock %}