{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>

{% if debug == 'true' %}    
    <table id="post_requests_detail" class="debug">
        <tr>
            <td>dateFrom</td>
            <td name="dateFrom">{{ date_from }}</td>
        </tr>
        <tr>
            <td>dateTo</td>
            <td name="dateTo">{{ date_to }}</td>
        </tr>
        <tr>
            <td>Queue URL</td>
            <td name="Queue URL"><pre><code>{{ queue_url }}</code></pre></td>
        </tr>
        <tr>
            <td>Report.Queue</td>
            <td name="Report.Queue"><pre><code>{{ queue_body }}</code></pre></td>
        </tr>
        <tr>
            <td>Get URL</td>
            <td name="Get URL"><pre><code>{{ get_url }}</code></pre></td>
        </tr>
        <tr>
            <td>X-WSSE</td>
            <td name="X-WSSE"><code>{{ xwsse_header }}</code></td>
        </tr>
        <tr>
            <td>Content-Type</td>
            <td name="Content-Type"><code>{{ content_header }}</code></td>
        </tr>
    </table>

    <br />

    <table id="post_queue_response" class="debug">
        <tr>
            <td>Queue Response</td>
            <td name="Queue Response"><pre><code>{{ queue_response_body }}</code></pre></td>
        </tr>
    </table>

    <br />

    <table id="post_get_response" class="debug">
        <tr>
            <td>Get Response</td>
            <td name="Get Response"><pre><code>{{ get_response_body }}</code></pre></td>
        </tr>
    </table>

    <br />

{% endif %}

    <table id="metric_values_table" >
    {% for metric in metrics %}
        <tr>
            <td name="metric_date_{{ metric.number }}">{{ metric.date }}</td>
            <td name="metric_value_{{ metric.number }}">{{ metric.value }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}