{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>

{% if debug == 'true' %}    
    <table id="run_results_table" class="debug">
        <tr>
            <td>dateFrom</td>
            <td name="dateFrom">{{ date_from }}</td>
        </tr>
        <tr>
            <td>dateTo</td>
            <td name="dateTo">{{ date_to }}</td>
        </tr>
        <tr>
            <td>Report.Queue</td>
            <td name="Report.Queue"><pre><code>{{ queue_body }}</code></pre></td>
        </tr>
        <tr>
            <td>X-WSSE</td>
            <td name="X-WSSE"><code>{{ xwsse_header }}</code></td>
        </tr>
        <tr>
            <td>Content-Type</td>
            <td name="Content-Type"><code>{{ content_header }}</code></td>
        </tr>
    </table>
{% endif %}

{% endblock %}